POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=onboarding_agent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

GROQ_API_KEY=
GEMINI_API_KEY=

GROQ_DEV_MODEL=llama-3.3-70b-versatile
GEMINI_DEV_MODEL=gemini-2.0-flash
